
<div class="center">
    <form>
        <div class="form-group">
        <%= text_field(:post, :email_address, size: 100, placeholder: @email_address) %>
        </div>
        <button type="submit" onClick="window.location = 'pages/login'" class="btn btn-primary">Submit</button>  
    </form>
</div>


<ul class="center list-group ">
<li class="list-group-item list-group-item-danger">
    <h2>ERRORS</h2>
</li>
<li class="list-group-item" onClick="window.location = 'pages/type_error'">
    <h3>Type Error</h3>
</li>
<li class="list-group-item" onClick="window.location = 'pages/load_error'">
<h3>Load Error</h3>
</li>
<li class="list-group-item" onClick="window.location = 'pages/syntax_error'">
<h3>Syntax Error</h3>
</li>
<li class="list-group-item" onClick="window.location = 'pages/index_error'">
<h3>Index Error</h3>
</li>
<li class="list-group-item" onClick="window.location = 'pages/div_by_0_error'">
<h3>Divide By Zero</h3>
</li>
<li class="list-group-item" onClick="window.location = 'pages/undefined_route_error'">
<h3>Undefined Route Error</h3>
</li>
<li class="list-group-item" onClick="window.location = 'pages/undefined_error'">
<h3>Undefined Variable Error</h3>
</li>
<li class="list-group-item" onClick="window.location = 'pages/undefined_method_error'">
<h3>Undefined Method Error</h3>
</li>
<li class="list-group-item" onClick="window.location = 'pages/wrong_num_args_error'">
<h3>Wrong Number Of Arguments Error</h3>
</li>
</ul>

<br><br><br><br><br><br><br><br>
</div>